.Related{
	width:300px;
	display: inline;
	text-align: center;
}
.tl-helix{
	color:#A01CD8;

}
.list-relation{
	color: #fff;
}
.list-relation li{
	list-style: none;
	margin: 10px 0px;
}
.list-relation li a{
	color:#fff;
}