/* .Video{
  max-width: 100%;

}
.Video video{
  width: inherit;
  max-width: 900px;
  vertical-align: middle;
} */


.Video {
  width: inherit;
}
.Video video {
  width: inherit;
  vertical-align: middle;
}